<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body>

    
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark">
    <a class="navbar-brand" href="#">TV Shows</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TV Shows</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Download</a>
            </li>
        </ul>
    </div>
</nav>
    
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="row">
                        <th class="col-1">ID:</th>
                        <th class="col-2">TV Show:</th>
                        <th class="col-1">Network:</th>
                        <th class="col-2">Release Date:</th>
                        <th class="col">Description:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        <td class="col-1">{{ show.id }}</td>
                        <td class="col-2">{{ show.title }}</td>
                        <td class="col-1">{{ show.network }}</td>
                        <td class="col-2">{{ show.releaseDate }}</td>
                        <td class="col">{{ show.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Last Updated: {{ show.updated_at }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/editShow/{{ show.id }}">Edit</a> | <a href="">Delete</a>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>