<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Book Club</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Book Club</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if not request.session.user_id %}
            <li class="nav-item">
                <a class="nav-link" href="/registerPage">Sign Up/Log In</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/verifiedUser">Profile</a>
            </li>
            {% endif %}
        </ul>
        <div class="my-lg-0">
            <a href="/logout">Log Out</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col m-2">
            <h2>Book List</h2>
                <div class="bg-light mt-2 p-1">
                    <span id="subhead">Title:</span>
                    <span id="content">{{ this_book.title }}</span>
                </div>
                <div class="bg-light p-1">
                    <span id="subhead">Description:</span>
                    <span id="content">{{ this_book.desc }}</span>
                </div>
                <div class="bg-light p-1">
                    <span id="smallSubhead">Added By:</span>
                    <span id="smallContent">{{ this_book.from_user.first_name }} {{ this_book.from_user.last_name }}</span>
                </div>
                <div class="bg-warning border-bottom p-1 pb-2">
                    <span id="smallSubhead">Favorited By:</span>
                    {% for item in this_book.liked_by.all %}
                    <li><span id="smallSubhead">{{ item.first_name}} {{ item.last_name }}</span></li>
                    {% empty %}
                    <li><span id="smallSubhead">None of our users has favorited this book yet!</span></li>
                    {% endfor %}
                </div>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-2">
            <form action="/favorite/{{ this_book.id }}" method='POST'>
            {% csrf_token %}
                <button class="btn btn-primary m-2">
                {% if this_user in this_book.liked_by.all %}
                    Remove from Favorites
                {% else %}
                    Add as Favorite
                {% endif %}
                </button>
            </form>
        </div>
        {% if this_user == this_book.from_user %}
        <div class="col-2">
            <form action="/editPage/{{ this_book.id }}" method='GET'>
                <button class="btn btn-secondary m-2">Edit Book</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>