<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Book Club</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Book Club</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if not request.session.user_id %}
            <li class="nav-item">
                <a class="nav-link" href="/registerPage">Sign Up/Log In</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/verifiedUser">Profile</a>
            </li>
            {% endif %}
        </ul>
        <div class="my-lg-0">
            <a href="/logout">Log Out</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-8 m-2">
            <h2>Update Book Details</h2>
            <form action="/editBook/{{ edit_book.id }}" method="POST">
            {% csrf_token %}
                <div class="form-group row">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value={{ edit_book.title }}>
                </div>
                <div class="form-group row">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="4">{{ edit_book.desc }}</textarea>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Edit Book</button>
                    </div>
                </div>
            </form>
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>