<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Confirm</title>
</head>
<body>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h2>Are you sure you want to delete {{ D.name }}?</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <b>Description:</b>
            <p>{{ D.description }}</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col"></div>
        <div class="col">
            <form action="/postDelete/{{ D.id }}" method="POST">
            {% csrf_token %}
                <button class="btn btn-danger">Delete Course</button>
            </form>   
        </div>
        <div class="col">
            <form action='/' method="GET">
                <button class="btn btn-info">No</button>
            </form>   
        </div>
        <div class="col"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>